doctype
html
  head
    link(rel='stylesheet', href='/css/global.css')
    script(bypass, src='/d3/d3.min.js', defer)
    script(bypass, src='/ripple/node_modules/immutable/dist/immutable.min.js')
    script(bypass, src='/socket.io/socket.io.js')
    script(bypass, src='/ripple.js', utils)
  body
    block content 