doctype
html
  head
    script(src="http://fb.me/react-0.12.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/ripple.js")
  body
    #container
    script.
      var TwitterFeed = React.createClass({ displayName: 'TwitterFeed',
        render: function() {
          var createLi = function(itemText) {
            return React.createElement("li", null, itemText)
          }
          return React.createElement("ul", null, this.props.items.map(createLi))
        }
      })

      ripple('tweets').on('response', function(){
        React.render(React.createElement(TwitterFeed, { items: ripple('tweets') }), container)
      })