doctype
html
  head
    script(src="https://fb.me/react-with-addons-0.14.7.js")
    script(src="https://fb.me/react-dom-0.14.7.js")
    script(src="/socket.io/socket.io.js")
    script(src="/ripple.js")
  body
    #container
    script.
      var TwitterFeed = React.createClass({ displayName: 'TwitterFeed',
        getInitialState: function() {
          return { tweets: [] }
        },
        componentDidMount: function() {
          var self = this
          console.log('wat', ripple.resources.tweets)
          ripple('tweets').on('change', function() { 
            self.setState({ tweets: ripple('tweets') }) 
          })
        },
        render: function() {
          var createLi = function(item) {
            return React.createElement("li", null, item)
          }
          return React.createElement("ul", null, this.state.tweets.map(createLi))
        }
      })

      ReactDOM.render(React.createElement(TwitterFeed), container)