doctype
html
  head
    script(src="http://fb.me/react-0.12.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/ripple.js")
  body
    #container
    script.
      var TwitterFeed = React.createClass({ displayName: 'TwitterFeed',
        getInitialState: function() {
          return { tweets: [] }
        },
        componentDidMount: function() {
          var self = this
          ripple('tweets').on('response', function() { 
            self.setState({ tweets: ripple('tweets') }) 
          })
        },
        render: function() {
          var createLi = function(itemText) {
            return React.createElement("li", null, itemText)
          }
          return React.createElement("ul", null, this.state.tweets.map(createLi))
        }
      })

      React.render(React.createElement(TwitterFeed), container)