:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Roboto, Noto, sans-serif; }

  :host > .title {
    margin: 20px;
    letter-spacing: 5px;
    color: #202020;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: block; }

  :host > icon-cart {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 24px; }

  :host > nav {
    position: relative;
    text-align: center; }

    :host > nav > a {
      list-style: none;
      display: inline-block; 
      margin: 33px 10px; 
      color: black;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      padding-bottom: 10px;
      transition: 200ms all;
      width: 110px;
      font-weight: 500; }

    :host > nav > a:hover {
      border-bottom-color: grey; }

    :host > nav > a.is-active {
      border-bottom-color: black; }

/*    :host > nav > .underline {
      transition: all 200ms;
      position: absolute;
      opacity: 0;
      bottom: 33px;
      top: calc(100% - 35px);
      background: black; }

    :host > nav > .underline:not(.is-visible) {
      left: 50% !important;
      right: 50% !important; }

    :host > nav > .underline.is-visible {
      opacity: 1; }*/