*, body /deep/ * { box-sizing: border-box; }

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  max-width: 550px;
  padding: 30px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased; }

  body todo-app {
    display: block;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); }

    body /deep/ [type=text] {
      background: rgba(0,0,0,0);
      display: block;
      height: 50px;
      width: 100%;
      font-size: 20px;
      font-family: inherit;
      outline: none;
      padding: 14px;
      border: none;
      border-bottom: 1px solid #ededed; 
      box-shadow: rgba(0, 0, 0, 0.027451) 0px 2px 1px ; }

    body /deep/ todo-item {
      display: block; 
      background: white;
      position: relative;
      font-size: 24px;
      border-bottom: 1px solid #ededed; }

      body /deep/ label  {
        white-space: pre;
        word-break: break-word;
        padding: 15px 60px 15px 15px;
        margin-left: 45px;
        display: block;
        line-height: 1.2;
        transition: color 0.4s; }

      body /deep/ :checked + label  {
        color: #d9d9d9;
        text-decoration: line-through; }

       body /deep/ button  {
        outline: none;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        font-size: 100%;
        font-family: inherit;
        color: inherit;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        cursor: pointer; }
 
      body /deep/ .destroy  {
        display: none;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 40px;
        height: 40px;
        margin: auto 0;
        font-size: 30px;
        color: #cc9a9a;
        margin-bottom: 11px;
        transition: color 0.2s ease-out; }

      body /deep/ .destroy::after  {
        content: '×'; }

      body /deep/ todo-item:hover::shadow .destroy  {
        display: block }

      body /deep/ .destroy:hover  {
        color: #af5b5e; }

      body /deep/ [type=checkbox] {
        text-align: center;
        width: 40px;  
        height: 40px; 
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border: none;
        -webkit-appearance: none; }

      body /deep/ [type=checkbox]::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>'); }

      body /deep/ [type=checkbox]:checked::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); }

    body /deep/ todo-footer {
      font-size: 12px;
      color: #777;
      display: block; 
      text-align: center;
      position: relative; }
      
      body /deep/ todo-footer::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        overflow: hidden;
        pointer-events: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }

      body /deep/ .counter {
        position: absolute; 
        left: 15px; 
        top: 14px; }

       body /deep/ .filter {
        color: inherit;
        margin: 10px;
        padding: 3px 7px;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3px; }

      body /deep/ .filter:hover {
        border-color: rgba(175, 47, 47, 0.1); }

      body /deep/ .filter.selected {
        border-color: rgba(175, 47, 47, 0.2); }

      body /deep/ .clear {
        position: absolute; 
        right: 15px; 
        top: 14px; }

      body /deep/ a:hover {
        cursor: pointer;
        text-decoration: underline; }

timetravel-debugger {
  position: absolute;
  left: 20px;
  top: 20px;
  background: white; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);  }

  timetravel-debugger::before {
    content: 'Time Travel';
    font-weight: bold;
    display: block;
    padding: 20px; }

  timetravel-debugger /deep/ a {
    display: block; 
    padding: 0px 20px 15px 35px; 
    font-weight: bold; }

  timetravel-debugger /deep/ a span {
    position: relative;
    padding: 0px 5px; 
    font-weight: normal; }

  timetravel-debugger /deep/ a span::before {
    content: attr(title);
    opacity: 0;
    pointer-events: none;
    position: absolute; 
    top: 110%; 
    font-family: monospace;
    font-size: 11px;
    background: black;
    color: white;
    line-height: 21px;
    padding: 5px;
    border-radius: 5px; }

  timetravel-debugger /deep/ a span:hover::before {
    opacity: 0.9; }